In [36]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests

# NASA Mars News

In [8]:
#Opening Chrome to be used by python
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [38]:
#Opening web page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [18]:
html = browser.html

In [19]:
#format for beautifulsop object will be lxml
soup = BeautifulSoup(html, 'lxml')

In [31]:
# Getting list that contains the first article on web page
list_text = soup.find('div', class_='list_text')
print(list_text)

<div class="list_text"><div class="list_date">May  1, 2020</div><div class="content_title"><a href="/news/8663/nasas-perseverance-rover-will-look-at-mars-through-these-eyes/" target="_self">NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'</a></div><div class="article_teaser_body">A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.</div></div>

In [32]:
#Scraping the title
news_title = list_text.find('div', class_='content_title').text
print(news_title)

NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'

In [22]:
#Scraping the paragraph info
news_p = soup.find('div', class_='article_teaser_body').text
print(news_p)

A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.

# JPL Mars Space Images - Featured Image

In [2]:
#Opening Chrome to be used by python
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [5]:
html2 = browser.html

In [6]:
#format for beautifulsop object will be lxml
soup = BeautifulSoup(html2, 'lxml')

In [7]:
find_url = soup.find('div', class_ = 'carousel_items')

In [8]:
url_ending  = find_url.find('article')['style'].replace('background-image: url(','')
url_ending2 = url_ending.replace(');', '')[1:-1]

In [9]:
url3 = "https://www.jpl.nasa.gov"

featured_image_url = url3 + url_ending2

featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19177-1920x1200.jpg'

# Mars Weather

In [4]:
#Opening Chrome to be used by python
executable_path = {'executable_path': 'chromedriver'}
browser2 = Browser('chrome', **executable_path, headless=False)

In [5]:
url4 = 'https://twitter.com/marswxreport?lang=en'
browser2.visit(url4)

In [6]:
html3 = browser2.html

In [7]:
#format for beautifulsop object will be lxml
soup = BeautifulSoup(html3, 'lxml')

In [15]:
weather_data = soup.find('div', class_='css-1dbjc4n').text

In [13]:
print(weather_data)

Log inSign upSee new TweetsFollowMars Weather@MarsWxReportUpdates as avail from the REMS weather instrument aboard @MarsCuriosity.  Data credit: Centro deAstrobiologia, FMI, JPL/NASA, Not an official acct.Gale Crater, Marsmars.nasa.gov/news/8415/insi…Joined August 201251 Following57.2K FollowersTweetsTweets & repliesMediaLikesTweetsTweets & repliesMediaLikesMars Weather’s TweetsMars Weather@MarsWxReport·16hInSight sol 511 (2020-05-04) low -93.2ºC (-135.8ºF) high -3.6ºC (25.5ºF)
winds from the SW at 4.9 m/s (11.0 mph) gusting to 16.8 m/s (37.6 mph)
pressure at 6.80 hPa412Mars Weather RetweetedSean Sublette@SeanSublette·May 4A little something from our @ClimateCentral office. #MayThe4thBeWithYou #ClimateChange0:23988 views1915Mars Weather@MarsWxReport·May 4InSight sol 510 (2020-05-03) low -93.0ºC (-135.5ºF) high -1.5ºC (29.2ºF)
winds from the WNW at 4.5 m/s (10.2 mph) gusting to 16.0 m/s (35.9 mph)
pressure at 6.80 hPa1715Mars Weather@MarsWxReport·May 4InSight sol 509 (2020-05-02) low -93.2ºC (-135.7ºF) high -2.2ºC (28.1ºF)
winds from the SW at 5.1 m/s (11.5 mph) gusting to 17.9 m/s (40.0 mph)
pressure at 6.80 hPa723Mars Weather@MarsWxReport·May 2On this day in 1982, the @weatherchannel  went on the air.1533

In [19]:
weather_data2 = weather_data.replace('Log inSign upSee new TweetsFollowMars Weather@MarsWxReportUpdates as avail from the REMS weather instrument aboard @MarsCuriosity.  Data credit: Centro deAstrobiologia, FMI, JPL/NASA, Not an official acct.Gale Crater, Marsmars.nasa.gov/news/8415/insi…Joined August 201251 Following57.2K FollowersTweetsTweets & repliesMediaLikesTweetsTweets & repliesMediaLikesMars Weather’s TweetsMars Weather@MarsWxReport·16h', '')

In [20]:
weather_data2

'InSight sol 511 (2020-05-04) low -93.2ºC (-135.8ºF) high -3.6ºC (25.5ºF)\nwinds from the SW at 4.9 m/s (11.0 mph) gusting to 16.8 m/s (37.6 mph)\npressure at 6.80 hPa412Mars Weather RetweetedSean Sublette@SeanSublette·May 4A little something from our @ClimateCentral office. #MayThe4thBeWithYou #ClimateChange0:23988 views1915Mars Weather@MarsWxReport·May 4InSight sol 510 (2020-05-03) low -93.0ºC (-135.5ºF) high -1.5ºC (29.2ºF)\nwinds from the WNW at 4.5 m/s (10.2 mph) gusting to 16.0 m/s (35.9 mph)\npressure at 6.80 hPa1715Mars Weather@MarsWxReport·May 4InSight sol 509 (2020-05-02) low -93.2ºC (-135.7ºF) high -2.2ºC (28.1ºF)\nwinds from the SW at 5.1 m/s (11.5 mph) gusting to 17.9 m/s (40.0 mph)\npressure at 6.80 hPa723Mars Weather@MarsWxReport·May 2On this day in 1982, the @weatherchannel  went on the air.1533'

In [21]:
mars_weather= weather_data2.replace('412Mars Weather RetweetedSean Sublette@SeanSublette·May 4A little something from our @ClimateCentral office. #MayThe4thBeWithYou #ClimateChange0:23988 views1915Mars Weather@MarsWxReport·May 4InSight sol 510 (2020-05-03) low -93.0ºC (-135.5ºF) high -1.5ºC (29.2ºF)\nwinds from the WNW at 4.5 m/s (10.2 mph) gusting to 16.0 m/s (35.9 mph)\npressure at 6.80 hPa1715Mars Weather@MarsWxReport·May 4InSight sol 509 (2020-05-02) low -93.2ºC (-135.7ºF) high -2.2ºC (28.1ºF)\nwinds from the SW at 5.1 m/s (11.5 mph) gusting to 17.9 m/s (40.0 mph)\npressure at 6.80 hPa723Mars Weather@MarsWxReport·May 2On this day in 1982, the @weatherchannel  went on the air.1533', '')

In [22]:
mars_weather

'InSight sol 511 (2020-05-04) low -93.2ºC (-135.8ºF) high -3.6ºC (25.5ºF)\nwinds from the SW at 4.9 m/s (11.0 mph) gusting to 16.8 m/s (37.6 mph)\npressure at 6.80 hPa'

# Mars Facts

In [2]:
url5 = 'https://space-facts.com/mars/'

In [3]:
data = pd.read_html(url5)

In [4]:
data

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [5]:
df = data[0]

In [6]:
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [11]:
df.rename(columns={'0': 'Parameter', '1': 'Value'}, inplace=True)

In [12]:
df

              Parameter                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
table_html = df.to_html()
table_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameter</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
table_html2 = table_html.replace('\n', '')
table_html2

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [18]:
#Opening Chrome to be used by python
executable_path = {'executable_path': 'chromedriver'}
browser3 = Browser('chrome', **executable_path, headless=False)

In [19]:
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser3.visit(url5)

In [20]:
html4 = browser3.html

In [22]:
#format for beautifulsop object will be lxml
soup = BeautifulSoup(html4, 'lxml')

In [27]:
objects = soup.find_all('div', class_='item')

In [30]:
img_url_ending = []
url6 ='https://astrogeology.usgs.gov'

In [38]:
for object in objects:
    img_url_ending = object.find('a', class_='itemLink product-item')['href']
    title=object.find('h3').text
    img_url = url6 + img_url_ending
    browser3.visit(img_url)
    html5 = browser3.html
    soup = BeautifulSoup(html5, 'lxml')
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})

In [40]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'}]